

.products{
    display:flex;
    flex-wrap: wrap;
    
    margin: 1.2rem;
    margin-top: -1.2rem;
}
.product-name{
    text-align: center;
    font-size: 1.5rem;
    min-height: 60px;
    max-height: 100px;
    max-width:250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #000;
}

.product-button{
    margin-top: 0.8rem;
    text-align: center;
    
    
}
.product img{
    height: 280px;
    width:240px;
    
}
.products{
    display:flex;
    flex-wrap: wrap;
}
.product{
    border: 2px solid black;
    margin: 2.3rem;
}